@tailwind base;
@tailwind components;
@tailwind utilities;

/* Obalí úplně celé okno včetně spodního pruhu */
.cl-cardBox {
  box-shadow: 0 0 80px 10px rgba(79, 70, 229, 0.25) !important;
  border: 1px solid rgba(79, 70, 229, 0.4) !important;
  border-radius: 16px !important; /* Aby rámeček hezky kopíroval kulaté rohy */
}

/* Vynulujeme ten předchozí pokus, ať tam nemáme dva rámečky přes sebe */
.cl-card {
  box-shadow: none !important;
  border: none !important;
}
/* Zvětšení písma v patičce Clerk okna */
.cl-footerActionText, 
.cl-footerActionLink {
  font-size: 0.95rem !important; /* Původní je cca 0.8rem */
  line-height: 1.5 !important;
}

/* Pokud chceš, aby ten odkaz (Zaregistrovat se) byl ještě výraznější */
.cl-footerActionLink {
  font-weight: 700 !important;
}